.content-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: #333333;
	position: relative;
	.content-block {
		height: 100%;
		padding: 14px;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.09);
		overflow-y: scroll;
	}
	.bill-content {
		width: 73.6%;
		position: relative;
	}
	.content-title {
		font-size: 16px;
		font-weight: 500;
		padding-left: 12px;
		position: relative;
		&::before {
			content: '';
			width: 5px;
			height: 16px;
			background: #0360FF;
			border-radius: 3px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.pay-type {
		width: 25%;
	}
	.bill-info {
		width: 100%;
		margin-top: 14px;
		font-size: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.bill-product {
			font-size: 24px;
		}
		.bill-date {
			line-height: 22px;
			span {
				color: #999;
			}
		}
	}
	.order-type {
		width: 100%;
		height: 70px;
		margin-top: 20px;
		line-height: 70px;
		background: #D9534F;
		color: #fff;
		display: flex;
		align-items: center;
		.order-id {
			width: 67.3%;
			font-size: 28px;
			padding-left: 32px;
		}
		.order-status {
			width: 32.7%;
			font-size: 32px;
			background-color: #E57671;
			text-align: center;
		}
	}
	.order-detail {
		width: 100%;
		margin-top: 30px;
		color: #333;
		font-size: 14px;
		border-radius: 8px;
		border: 1px dashed #B4B6BA;
		overflow: hidden;
		.tabel-header {
			width: 100%;
			height: 42px;
			padding: 0 20px;
			background: #F3F3F5;
			font-weight: bold;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.cell-one {
				text-align: center;
			}
		}
		.cell-one {
			width: 46%;
			text-align: left;
		}
		.cell {
			text-align: left;
			width: 20%;
		}
		.tabel-content {
			padding: 10px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.machine-info {
				.item {
					padding: 10px 0;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					.item-name {
						color: #999;
						width: 80px;
					}
					.item-value {
						margin-left: 6px;
					}
				}
			}
		}
	}
	.price-info {
		font-size: 14px;
		margin-top: 20px;
		text-align: right;
		line-height: 20px;
		span {
			color: #FF8035;
		}
		.coupon {
			margin-top: 6px;
		}
	}
	.final-order {
		width: 100%;
		height: 52px;
		margin-top: 26px;
		line-height: 52px;
		font-size: 24px;
		background: #D9534F;
		color: #fff;
		display: flex;
		align-items: center;
		.word {
			width: 67.3%;
			padding-right: 36px;
			text-align: right;
		}
		.price {
			width: 32.7%;
			background-color: #E57671;
			text-align: center;
		}
	}
	.pay-type {
		.choose {
			margin-top: 24px;
			font-size: 14px;
		}
		.select-pay {
			margin-top: 10px;
			&.wechat {
				.ant-select-selector {
					background-color: #62B900;
				}
			}
			.ant-select {
				width: 100%;
			}
			.ant-select-selector {
				background-color: #0360FF;
				border: none;
				color: #fff;
				font-size: 16px;
				height: 38px;
				border-radius: 4px;
				.ant-select-selection-item {
					line-height: 38px;
				}
			}
			.ant-select-arrow {
				color: #fff;
			}
		}
	}
	.payment {
		.qr-code {
			margin-top: 20px;
			width: 100%;
			border: 1px solid #CCD1D9;
			img {
				width: 100%;
				vertical-align: middle;
				object-fit: contain;
			}
		}
		.paid-check {
			width: 100%;
			height: 38px;
			margin-top: 14px;
			line-height: 38px;
			font-size: 16px;
			border-radius: 4px;
			text-align: center;
			color: #fff;
			cursor: pointer;
			&.alipay {
				background: #3874F6;
			}
			&.wechat {
				background-color: #62B900;
			}
		}
	}
	.digital-pay-box {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .3);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 20;
		.digital-box {
			width: 43%;
			max-width: 830px;
			border-radius: 8px;
			overflow: hidden;
			background: #fff;
			.digital-title {
				width: 100%;
				height: 58px;
				background: #0360FF;
				padding: 0 24px;
				color: #fff;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 20px;
				.close {
					width: 20px;
					height: 20px;
					background: url('@/images/customize/close.svg') center no-repeat;
					background-size: contain;
					cursor: pointer;
				}
			}
			.digital-content {
				padding: 24px;
				.digital-infos {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.digital-type {
						width: 75%;
						.digital-item {
							display: flex;
							align-items: center;
							justify-content: space-between;
							margin-bottom: 30px;
							padding-bottom: 25px;
							color: #333;
							font-size: 16px;
							.item-name {
								// max-width: 100px;
								font-weight: bold;
							}
							.item-value-box {
								width: 83.3%;
								min-height: 60px;
								border-radius: 4px;
								padding: 0 14px;
								border: 1px solid #CCD1D9;
								position: relative;
								display: flex;
								justify-content: space-between;
								align-items: center;
								.item-notice {
									font-size: 12px;
									position: absolute;
									left: 0;
									bottom: -24px;
								}
							}
							.coin-num {
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: flex-start;
							}
							.coin-num, .wallet {
								width: 100%;
								.item-value {
									margin-top: 4px;
								}
							}
							.item-tip {
								color: #999;
								font-size: 12px;
							}
							.item-value {
								width: 100%;
								font-size: 16px;
								word-break: break-word;
								padding: 6px 0;
								.ant-input {
									padding: 0;
								}
							}
							.coin-num {
								width: 70%;
								height: 100%;
								border-right: 1px solid #CCD1D9;
							}
							.coin-type {
								width: 30%;
								height: 100%;
								padding-left: 20px;
								.ant-select {
									width: 100%;
									height: 100%;
								}
								.ant-select-selector {
									width: 100%;
									height: 100%;
									border: none;
									box-shadow: none;
									.ant-select-selection-item {
										line-height: 60px;
									}
								}
							}
						}
					}
					.digital-code-img {
						width: 150px;
						height: 150px;
						border: 1px solid #CCD1D9;
						img {
							width: 100%;
							object-fit: contain;
							vertical-align: middle;
						}
					}
				}
				.btns {
					margin-top: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					.btn {
						width: 124px;
						height: 46px;
						border-radius: 6px;
						margin: 8px;
						font-size: 18px;
						text-align: center;
						line-height: 46px;
						cursor: pointer;
						&.cancel {
							color: #0360FF;
							background: rgba(3, 96, 255, .16);
						}
						&.confirm {
							color: #fff;
							background: #0360FF;
						}
					}
				}
			}
		}
	}
	.full-content {
		width: 100%;
		.order-type, .final-order {
			&.expired-order {
				background: #777777;
				.order-status {
					background-color: #999999;
				}
				.price {
					background-color: #999999;
				}
			}
			&.paid-order {
				background: #5CB85B;
				.order-status {
					background-color: #79C47A;
				}
				.price {
					background-color: #79C47A;
				}
			}
			&.querying-order {
				background: #F0B83C;
				.order-status {
					background-color: #F4CD76;
				}
				.price {
					background-color: #F4CD76;
				}
			}
		}
	}
}