.customize-page {
	height: 100vh;
	color: #333;
	font-size: 16px;
	background: #F9F9FB;
	padding-bottom: 176px;
	.wrapper {
		width: 62.5%;
		max-width: 1200px;
		margin: 0 auto;
	}
	.breadcrumb {
		background: #fff;
		box-shadow: 0px 13px 19px 1px rgba(0, 0, 0, 0.05);
		.bread-container {
			padding: 14px 0;
		}
	}
	.config-container {
		width: 100%;
		height: calc(100% - 120px);
		padding-top: 28px;
		overflow-y: scroll;
		.block {
			box-shadow: 0px 13px 19px 1px rgba(0, 0, 0, 0.05);
			border-radius: 12px;
			margin-bottom: 28px;
			padding: 24px 40px;
			background: #fff;
			.block-item {
				display: flex;
				align-items: center;
				// justify-content: ;

				&.system-block {
					margin-top: 50px;
				}
				&:not(:first-child)  {
					margin-top: 30px;
				}
				&.login-way-block {
					padding-bottom: 32px;
				}
			}
		}
		.block-label {
			width: 90px;
			text-align: left;
			font-weight: 500;
		}
		.block-content {
			width: calc(100% - 90px);
			.ant-tabs-tab {
				padding: 0 0 12px;
			}
			.area-tabpane, .area-list-box {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: flex-start;
			}
			.area-item {
				width: max-content;
				padding: 0 30px;
				height: 36px;
				margin: 7px;
				background: rgba(3, 96, 255, 0.1);
				border-radius: 4px;
				color: #0360FF;
				font-size: 14px;
				line-height: 36px;
				position: relative;
				transition: all .2s linear;
				cursor: pointer;
				&.active, &:hover {
					background: #0360FF;
					color: #fff;
				}
				&.discount {
					&::after {
						content: "";
						width: 26px;
						height: 16px;
						border-radius: 2px;
						background: url("@/images/customize/discount.svg") center no-repeat;
						background-size: contain;
						position: absolute;
						top: 0;
						right: 0;
					}
				}
				&.empty {
					background: #F2F3F6;
					color: #999999;
					cursor: not-allowed;
					&::after {
						content: '售罄';
						width: max-content;
						line-height: 18px;
						padding: 0 4px;
						background: #D7D8DE;
						border-radius: 2px;
						color: #fff;
						font-size: 10px;
						transform: scale(0.8);
						transform-origin: right top;
						position: absolute;
						top: 0;
						right: 0;
					}
				}
			}
			.system-select {
				.sys-logo {
					width: 14px;
					vertical-align: middle;
				}
			}
			.machine-container {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				.machine-item {
					width: 30%;
					margin: 12px;
					padding: 16px;
					font-size: 14px;
					line-height: 22px;
					border-radius: 8px;
					border: 1px solid #CCD1D9;
					color: #999;
					position: relative;
					overflow: hidden;
					transition: all .2s linear;
					cursor: pointer;
					.machine-name {
						font-size: 18px;
						color: #333;
						line-height: 26px;
						font-weight: bold;
					}
					.machine-suit {}
					.machine-system {}
					.machine-disk {}
					&.active {
						box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.04);
						border: 1px solid #0360FF;
						&::before {
							content: "";
							background: url('@/images/customize/check.svg') right bottom no-repeat;
							background-size: contain;
							width: 12px;
							height: 12px;
							position: absolute;
							bottom: 0;
							right: 0;
							display: block;
							z-index: 2;
						}
						&::after {
							content: "";
							border: 10px solid;
							border-color: transparent #0360FF #0360FF transparent;
							width: 0;
							height: 0;
							position: absolute;
							bottom: 0;
							right: 0;
							display: block;
							z-index: 1;
						}
					}
				}
			}
			.platform-box {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.intel-radio {
					margin-left: 30px;
				}
			}
			.internet-speed {
				margin-top: 20px;
				.ant-slider-rail, .ant-slider-step {
					height: 12px;
					border-radius: 6px;
				}
				.ant-slider-track {
					height: 12px;
					width: 31.5789%;
					background-color: rgb(3, 96, 255)!important;
					background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
					background-size: 9px 9px;
					border-radius: 6px;
				}
				.ant-slider-dot {
					width: 1px;
					height: 10px;
					background: #DBDBDB;
					border: none;
					bottom: -10px;
					top: unset;
				}
				.ant-slider-handle {
					width: 18px;
					height: 34px;
					background: #FFFFFF;
					box-shadow: 0px 0px 8px 0px #C1CBDB;
					border-radius: 9px;
					border: none;
					top: -2px;
				}
				.ant-slider-mark {
					top: 26px;
					color: #999999;
					font-size: 14px;
				}
				.ant-slider-with-marks {
					margin-bottom: 18px;
				}
				.ant-input-number {
					margin:  0 10px 0 30px;
				}
				.speed-input-num {
					color: #999999;
					display: flex;
					// justify-content: ;
					align-items: center;
				}
			}
			.system-disk-container, .data-disk-container {
				display: flex;
				align-items: center;
				.type-selector {
					position: relative;
					.ant-select {
						width: 90%;
					}
					.tip {
						margin-top: 12px;
						font-size: 12px;
						color: #999;
						position: absolute;
					}
				}
				.size-inputer {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					font-size: 14px;
					color: #999;
					.ant-input-number {
						color: #333;
						font-size: 16px;
						margin-right: 10px;
					}
				}
				.num-inputer {
					.ant-input-number {
						margin-left: 20px;
					}
				}
				.buy-guide {
					font-size: 12px;
					color: #0360ff;
					width: max-content;
					padding: 0 16px 0 20px;
					position: relative;
					cursor: pointer;
					&::before, &::after {
						content: '';
						width: 12px;
						height: 12px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
					&::before {
						left: 0;
						background: url('@/images/customize/question.svg') center no-repeat;
						background-size: contain;
					}
					&::after {
						right: 0;
						background: url('@/images/customize/guide.svg') center no-repeat;
						background-size: contain;
					}
				}
				.notice {
					margin-left: 20px;
					font-size: 12px;
					color: #0360ff;
					width: max-content;
					cursor: pointer;
				}
			}
			.data-disk-container {
				background: #F9F9FA;
				border-radius: 4px;
				padding: 16px 16px 40px;
				margin-top: 20px;
				position: relative;
				.delete-item {
					width: 24px;
					height: 24px;
					border-radius: 50%;
					background: url("@/images/customize/delete.svg") center no-repeat;
					background-size: contain;
					cursor: pointer;
					position: absolute;
					right: 16px;
					top: 50%;
					transform: translateY(-50%);
				}
				.notice {
					margin-left: 0;
				}
			}
			&.data-disk {
				.add-new-one {
					margin-top: 16px;
					font-size: 12px;
					width: max-content;
					position: relative;
					padding: 0 18px;
					.blue {
						color: #0360FF;
						cursor: pointer;
					}
					.gray {
						color: #666666;
						margin-left: 10px;
					}
					.orange {
						color: #FF8035;
					}
					&::before, &::after {
						content: '';
						width: 12px;
						height: 12px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
					&::before {
						left: 0;
						background: url('@/images/customize/add.svg') center no-repeat;
						background-size: contain;
					}
					&::after {
						right: 0;
						background: url('@/images/customize/question.svg') center no-repeat;
						background-size: contain;
					}
				}
			}
			&.login-way {
				position: relative;
				.auto-password {
					width: max-content;
					background: #0360FF;
					color: #fff;
					font-size: 14px;
					line-height: 36px;
					padding: 0 18px;
					border-radius: 4px;
					cursor: pointer;
				}
				.tip {
					position: absolute;
					color: #E9661E;
					font-size: 12px;
					margin-top: 12px;
					.blue {
						color: #0360FF;
					}
				}
			}

			&.rebuy-content {
				.tip {
					margin-top: 12px;
					font-size: 12px;
					color: #999999;
					.know-more {
						color: #0360FF;
						margin-left: 20px;
						width: max-content;
						position: relative;
						padding-right: 18px;
						&::after {
							content: '';
							width: 12px;
							height: 12px;
							background: url('@/images/customize/guide.svg') center no-repeat;
							background-size: contain;
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	.page-bot {
		width: 100%;
		height: 176px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0px -13px 19px 1px rgba(0, 0, 0, 0.05);
		backdrop-filter: blur(3px);
		.block {
			padding: 24px 40px;
			display: flex;
			align-items: center;
			.block-label {
				width: 90px;
				text-align: left;
				font-weight: 500;
			}
			.block-content {
				width: calc(100% - 90px);
				.money {
					font-size: 35px;
					color: #E9661E;
					.fee {
						font-size: 18px;
					}
				}
				.contract {
					margin-top: 10px;
					font-size: 14px;
					color: #333333;
					.blue {
						cursor: pointer;
						color: #0360FF;
					}
				}
				.buy-now {
					width: max-content;
					height: 36px;
					margin-top: 20px;
					background: #E9661E;
					border-radius: 4px;
					line-height: 36px;
					color: #fff;
					font-size: 16px;
					padding: 0 16px;
					cursor: pointer;
				}
			}
		}
	}
	.need-login-modal {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #00000073;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 20;
		.modal-content {
			width: 520px;
			background: #fff;
			position: relative;
			border-radius: 8px;
			overflow: hidden;
			.header-title {
				width: 100%;
				height: 58px;
				color: #fff;
				background: #0360FF;
				font-size: 20px;
				padding: 0 24px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.close {
					width: 20px;
					height: 20px;
					background: url('@/images/customize/close.svg') center no-repeat;
					background-size: contain;
					cursor: pointer;
				}
			}
			.modal-body {
				padding: 30px 24px;
				font-size: 18px;
				color: #333333;
				letter-spacing: 1px;
				.btns {
					margin-top: 80px;
					text-align: center;
					.btn {
						// width: 120px;
						height: 40px;
						line-height: 40px;
						display: inline-block;
						border-radius: 6px;
						padding: 0 24px;
						cursor: pointer;
					}
					.register {
						background: rgba(3, 96, 255, .16);
						color: #0360FF;
						margin-right: 16px;
					}
					.login {
						background: #0360ff;
						color: #fff;
					}
				}
			}
		}
	}
}