.new-passowrd-container {
	width: 53.3%;
	margin: 60px auto;
	.psd-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #333;
		font-size: 18px;
		margin-bottom: 30px;
		.item-label-name {
			width: 110px;
			text-align: right;
		}
		.ant-input, .ant-input-password {
			width: calc(100% - 130px);
			.ant-input {
				width: 100%;
			}
		}
	}
	.btn-confirm {
		width: max-content;
		margin: 60px auto 0;
		font-size: 18px;
		padding: 0 12px;
		border-radius: 5px;
		line-height: 36px;
		color: #fff;
		background: #0360FF;
		cursor: pointer;
	}
}