.new-passowrd-container {
	width: 53.3%;
	margin: 60px auto;
	&.login-new-password {
		width: 100%;
		.cancel-btn, .btn-confirm {
			width: 220px;
			height: 50px;
			line-height: 50px;
			font-size: 20px;
			border-radius: 8px;
			padding: 0;
		}
	}
	.psd-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #333;
		font-size: 18px;
		margin-bottom: 30px;
		.item-label-name {
			width: 110px;
			text-align: right;
		}
		.ant-input, .ant-input-password {
			width: calc(100% - 130px);
			.ant-input {
				width: 100%;
			}
		}
	}
	.strength {
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.progress {
			width: calc(100% - 130px);
			height: 18px;
			border-radius: 8px;
			background: #EAEEF5;
			position: relative;
			overflow: hidden;
			.str-progress {
				width: 0;
				height: 100%;
				background-color: #0360FF;
				background-image: linear-gradient(45deg,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
				background-size: 10px 10px;
				transition: width .6s ease;
			}
		}
	}
	.how-to {
		width: 100%;
		margin-bottom: 45px;
		display: flex;
		justify-content: flex-end;
		.how-words {
			width: calc(100% - 130px);
			padding: 20px 30px;
			background: #FFF2F2;
			border-radius: 5px;
			color: #ff2f2f;
			font-size: 18px;
			.words-title {
				font-weight: 500;
			}
		}
	}
	.reset-btns {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.cancel-btn, .btn-confirm {
		width: max-content;
		margin: 60px 20px 0;
		font-size: 18px;
		padding: 0 12px;
		border-radius: 5px;
		line-height: 36px;
		text-align: center;
		color: #fff;
		background: #0360FF;
		cursor: pointer;
	}
	.cancel-btn {
		background: transparent;
		border: 1px solid #0360FF;
		color: #0360FF;
	}
}