.user-page-content-container {
	height: 100%;
	overflow-y: scroll;
	.user-info-block {
		width: 100%;
		padding: 20px;
		border-radius: 8px;
		font-size: 18px;
		box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.09);
		background: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.user-info {
			width: 13.5%;
			text-align: center;
			.user-avatar {
				width: 92px;
				height: 92px;
				margin: 0 auto;
				border: 1px solid #ededed;
				border-radius: 50%;
				background: url('@/images/header/avatar-default.svg') left center no-repeat;
				background-size: contain;
			}
			.username {
				margin-top: 15px;
				font-weight: 500;
			}
			.useremail {
				margin-top: 8px;
				color: #666;
			}
		}
		.user-account {
			width: 81.5%;
			.user-money {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				border-bottom: 1px dashed #CCD1D9;
				.money-left, .money-coupon {
					width: 38.5%;
					text-align: left;
					.money-num {
						font-size: 20px;
						margin: 10px auto 16px;
						.num {
							font-size: 28px;
						}
					}
				}
			}
			.user-objects {
				margin-top: 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.obj-item {
					display: block;
					color: #333;
					width: 28%;
					padding: 20px;
					background: #F9F9FA;
					border-radius: 5px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					&.obj-item-big {
						width: 34%;
					}
					.obj-item-name {
						padding-left: 26px;
						user-select: none;
						$names: ('product', 'bill', 'ticket');
						@each $name in $names {
							&.#{$name} {
								background: url("@/images/user/#{$name}.svg") left center no-repeat;
								background-size: 18px;
							}
						}
						&.product {
							background-size: 20px;
							padding-left: 28px;
						}
						&.bill {
							background-size: 17px;
						}
					}
					.obj-item-num {
						font-size: 30px;
					}
					.submit-ticket {
						background: #FFFFFF;
						border-radius: 3px;
						line-height: 32px;
						padding: 0 20px;
						font-size: 16px;
						color: #0360FF;
						cursor: pointer;
					}
				}
			}
		}
	}
	.messages-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.user-msg-list-box {
			width: calc(50% - 10px);
			min-height: 300px;
			max-height: 500px;
			margin-top: 20px;
			padding: 16px 0;
			background: #FFFFFF;
			box-shadow: 0px 8px 13px 0px rgba(0,0,0,0.09);
			border-radius: 10px;
			.list-box-title {
				padding: 0 20px 0 32px;
				font-size: 20px;
				font-weight: 500;
				color: #333333;
				line-height: 25px;
				font-weight: 500;
				position: relative;
				&::before {
					content: '';
					width: 4px;
					height: 20px;
					border-radius: 4px;
					background: #0360FF;
					position: absolute;
					left: 20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.list-empty {
				width: 100%;
				padding: 70px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.empty-word {
					margin-top: 12px;
					font-size: 16px;
					font-weight: 400;
					color: #CCD1D9;
				}
				$icons: ('product', 'bill', 'ticket', 'notice');
				@each $icon in $icons {
					&.#{$icon} {
						.img {
							width: 100px;
							height: 100px;
							background: url("@/images/user/#{$icon}-empty.svg");
							background-size: contain;
						}
					}
				}
			}
		}
		.msg-list-box {
			padding: 20px;
			height: calc(100% - 40px);
			overflow-y: scroll;
			.msg-list-item {
				width: 100%;
				padding: 16px 20px;
				border-radius: 5px;
				font-size: 18px;
				background: #f9f9fa;
				color: #333;
				display: flex;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;
				&:nth-child(even) {
					background: #fff;
				}
				&:hover {
					box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.1);
				}
			}
			.bill-list-item {
				.bill-info {
					.bill-number {
						color: #0360FF;
					}
					.bill-time {
						margin-top: 10px;
						font-size: 16px;
						color: #666;
					}
				}
				.bill-price {
					font-size: 16px;
					color: #ff8035;
					.num {
						font-size: 24px;
					}
				}
			}
			.product-list-item {
				// color: #333;
				// font-size: 18px;
			}
		}
	}
}
