#root {
	font-family: PingFang SC, PingFangSC-Regular, PingFangSC-Bold;
}
body {
	font-family: PingFang SC, PingFangSC-Regular, PingFangSC-Bold;
	line-height: 1.2;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar {
	display: none;
}
body div::-webkit-scrollbar {
	display: none;
}
body div {
	-ms-overflow-style: none;
	scrollbar-width: none;
}